/* Full Screen */
html, body {
	margin: 0;
	height: 100%;
}

/* Default values for smooth apperance... */

p, h1 {
	font-family: "Verdana", Verdana, sans-serif;
}

iframe {
	height: 100%;
	width: 100%;
	position: absolute;
	float: left;
}

#frameB {
	margin-left: 100%;
}

/*#frameA {
	position: relative;
	float: left;
}
*/
div {
	height: 100%;
	width: 100%;
	/*overflow: hidden;*/
}