<!DOCTYPE html>
<html ng-app="cyberPortalAdmin">
<head>
	<title>Cyber Portal - Admin Page</title>

	<meta charset="utf-8">

	<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.min.js"></script>

    <script src="public/js/controllers/newspostCon.js"></script>
    <script src="public/js/controllers/backgroundCon.js"></script>
    <script src="public/js/services/backgroundSer.js"></script>
    <script src="public/js/services/newspostSer.js"></script>
    
    <script src="public/js/logic/admin.js"></script>
</head>
<body >
	<h1> Welcome Admin </h1>


	<div id="backgrounds" ng-controller="backgroundController">
		
		<h2>Backgrounds [{{ backgrounds.length }}]</h2>

		<div>
			<span class="backs" ng-repeat="background in backgrounds" >
				<img ng-src="{{ background.imgRef }}" height="120" width="120">
				
				<p>{{ background.title }} in {{ background.colorTheme }} <button type="submit" ng-click="removeBackground(background._id)">Remove</button> </p>
			</span>
		</div>
			

		<p>Add new background</p>
		<input type="text" placeholder="Enter title..." ng-model="backgroundData.title"/>
		<input type="text" placeholder="Enter color-theme" ng-model="backgroundData.colorTheme"/>
		<input type="text" placeholder="Enter a imgRef..." ng-model="backgroundData.imgRef"/>
		<button type="submit" ng-click="createBackground()">Add</button>

	</div>





	<div id="newsContainer" ng-controller="newspostController">
		
		<h2>News [{{ newsposts.length }}]</h2>

		<ul>
			<li ng-repeat="newspost in newsposts">
			<button type="submit" ng-click="removeNewspost(newspost._id)">Remove</button><b> {{ newspost.title }}</b>, written by `{{ newspost.author }}`:<br> {{ newspost.text }} 
			<!-- <img ng-src="{{newspost.imgRef}}" height="120" width="120"> -->
			</li>
		</ul>

		<p>Add new news</p>
		<input type="text" placeholder="Enter a headline..." ng-model="newsData.title"/>
		<input type="text" placeholder="Enter the author..." ng-model="newsData.author"/>
		<input type="text" placeholder="Enter a news text..." ng-model="newsData.text"/>
		<input type="text" placeholder="Enter a imgRef..." ng-model="newsData.imgRef"/>
		<button type="submit" ng-click="createNewspost()">Add</button>

	</div>
    <script src="http://code.jquery.com/jquery.min.js"></script>
</body>
</html>
